<footer class="footer">
    <ul class="footer-links">
        <a href="https://murderpedia.org/" target="_blank">
            <li>Murderpedia</li>
        </a>
        <a href="https://killer.cloud/" target="_blank">
            <li>Killer Cloud</li>
        </a>
        <a href="">
            <li>Developed by &copy; 2020 Marta Jankowska | Patricio Castro</li>
        </a>
    </ul>
</footer>