<div class="form-wrapper">
    <div class="form-bg">
        <div class="form-container">
            <div class="form-title">
                <h2>Edit Profile</h2>
            </div>

            <form class="form" action="/private/edit-user?user_id={{user._id}}" method="POST"
                enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-input form-capitalize" type="text" name="name" value="{{user.name}}"
                        placeholder="Name" id="name-input">
                    <label class="form-label" for="name-input">Username</label>
                </div>

                <div class="form-group">
                    <input class="form-input form-capitalize" type="text" name="email" value="{{user.email}}"
                        placeholder="New email" id="email-input">
                    <label class="form-label" for="email-input">New Email</label>
                </div>

                <div class="form-group file-inputs">
                    <input class="form-input file" type="file" name="profilepic" placeholder="Upload a photo">
                </div>
                <div class="form-group">
                    <button class="btn btn-after" type="submit">Update</button>
                </div>

            </form>
        </div>
    </div>
</div>
{{> footerpartial this}}