*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  --red-block: #8b0a0a;
  --links: #ef9d9d;
  --links-hover: #fab6b6;
  --dirty-white: #efeeec;
  --pink-btns: #c55c68;
  --grey: #a49c9a;
}

img {
  max-width: 100%;
  line-height: 1;
}

body {
  line-height: 1.6;
  letter-spacing: 1px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #00b7ff;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
}

/*************************** nav ***************************/
.nav {
  background-color: var(--red-block);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  max-height: 10rem;
}

.nav-menu {
  opacity: 1;
  position: absolute;
  top: 0;
  right: -1000px;
  width: 100%;
  height: 100vh;
  background-color: var(--red-block);
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 500;
  padding-top: 8rem;
  background-image: url(../images/fingerprint-red.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-menu a {
  color: var(--links);
  font-weight: 300;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

#nav>ul>a:nth-child(1)>li {
  margin-top: 3rem;
}

.nav-menu li {
  font-size: 2rem;
  padding: 2rem 1.4rem;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.nav-menu a:hover {
  color: var(--links-hover);
  transition: all 0.3s ease;
}

.logo-nav {
  width: 22%;
  margin: 1rem;
  z-index: -300;
  padding: 1rem;
}

.items::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--links-hover);
  top: 70%;
  left: 0%;
  -webkit-transform: translateY(-25px);
  transform: translateY(-25px);
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
}

.items:hover::after {
  -webkit-transform: translateY(16px);
  transform: translateY(16px);
  height: 4px;
  opacity: 1;
}

.nav-button {
  border-bottom: 1px solid var(--links);
  padding: 2.3rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  z-index: 2000;
  cursor: pointer;
}

.burger {
  width: 3rem;
  position: relative;
  cursor: pointer;
}

.line {
  background: var(--links);
  width: 100%;
  height: 2px;
  position: absolute;
  transition: all 0.4s cubic-bezier(0.26, 0.1, 0.27, 1.55);
}

.top {
  top: -10px;
}

.bottom {
  top: 10px;
}

.lines.close .top {
  top: 0px;
  transform: rotate(45deg);
  background-color: var(--links-hover);
}

.lines.close .middle,
.lines.close .bottom {
  top: 0;
  transform: rotate(-45deg);
  background-color: var(--links-hover);
}

.show-menu {
  opacity: 1;
  right: 0px;
}

.show-menu.nav-button {
  border-bottom: 1px solid var(--links-hover);
}

.show-menu.nav-menu>a:nth-child(1)>li {
  animation: move-in 0.4s linear 0.2s backwards;
}

.show-menu.nav-menu>a:nth-child(2)>li {
  animation: move-in 0.6s linear 0.4s backwards;
}

.show-menu.nav-menu>a:nth-child(3)>li {
  animation: move-in 0.8s linear 0.6s backwards;
}

.show-menu.nav-menu>a:nth-child(4)>li {
  animation: move-in 0.4s linear 0.2s backwards;
}

.show-menu.nav-menu>a:nth-child(5)>li {
  animation: move-in 0.6s linear 0.4s backwards;
}

.move-in {
  animation: move-in 1s linear 0.8s backwards;
}

@keyframes move-in {
  0% {
    transform: translateX(1000px);
  }

  80% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

/******************************* home *******************/
.header {
  background-image: url(../images/header.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: var(--dirty-white);
  height: 35vh;
  margin-top: 8rem;
}

.explanation {
  background-color: #A49C9A;
  min-height: 15vh;
  padding: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explanation-p {
  font-size: 1.1rem;
  text-align: center;
}

/* Horizontal Scroll */

.horizontal-scroll {
  padding: 1rem 2rem 1rem 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.hs {
  display: flex;
  flex-direction: row;
  padding: 0 20px;

  overflow-x: scroll;
  scroll-snap-type: x proximity;
}

ul {
  list-style: none;
  padding: 0;
}

.hs>li,
.item {
  scroll-snap-align: center;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
}

.hs>li {
  background-color: var(--red-block);
  min-height: 25rem;
  min-width: 25rem;
  color: white;
  padding: 1rem;
}

.hs-image {
  height: 10rem;
}

.card-text {
  font-size: 1.1rem;
  text-align: center;
}

/* Main Buttons */
.main-btns {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.main-btn {
  border: 1px var(--red-block) solid;
  background-color: white;
  color: var(--red-block);
  -webkit-box-shadow: -7px 9px 5px 0px rgba(184, 184, 184, 1);
  -moz-box-shadow: -7px 9px 5px 0px rgba(184, 184, 184, 1);
  box-shadow: -3px 3px 5px 0px rgba(184, 184, 184, 1);
  font-size: 1.6rem;
  font-weight: 200;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  cursor: pointer;
}

.main-btn:hover {
  -webkit-box-shadow: -7px 9px 5px 0px var(--red-block);
  -moz-box-shadow: -7px 9px 5px 0px var(--red-block);
  box-shadow: -3px 3px 5px 0px var(--red-block);
}

.alpha-btns {
  display: none;
}

.letter-btn {
  border: none;
  background-color: white;
  height: 4rem;
  width: 4rem;
}

.zodiac-btn {
  border: none;
  background-color: white;
  height: 7rem;
  width: 7rem;
}

.zodiac-btns {
  display: none;
}

.show-list {
  padding: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/************ user profile ******************/
.user-pic-div {
  text-align: center;
  padding-bottom: 2rem;
}

.user-picture {

  max-width: 20rem;
}

.profile-main {
  padding: 10rem 4rem 0;
  display: flex;
  flex-direction: column;
}

.profile-main-text {
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.profile-bg {
  background-image: url(../images/rope.png);
  background-repeat: no-repeat;
  background-position: center;

}

.user-name {
  font-size: 4rem;
  color: var(--red-block);
  text-transform: capitalize;
}


.btn-edit {
  display: block;
  margin-bottom: 2rem;
}

/******************************* wrappers *******************/
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

/************************* forms *****************************/
.form-wrapper {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 15rem 0;

}

.form-capitalize {
  text-transform: capitalize;
}

.form-bg {
  flex-grow: 1;
  background-image: url(../images/blood-splatter.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-container {
  width: 90%;
  margin: 0 auto;
}

.form-title {
  padding: 1rem 0;
  margin-bottom: 4rem;
  border-bottom: 1px solid black;
}

.form-input {
  width: 100%;
  padding: 1.8rem;
  font-size: 2rem;
}

.form-label {
  align-self: flex-start;
  font-size: 2rem;
  padding: 1rem 0;
  transition: all 0.3s ease;
}

.form-input:focus {
  outline: none;
  border: 1px solid var(--pink-btns);
  box-shadow: 0px 10px 5px 0px rgba(139, 10, 10, 0.365);
}

.form-input::-webkit-input-placeholder {
  margin-left: 2rem;
  font-size: 1.6rem;
}

.form-input:placeholder-shown+.form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
  transition: all 0.3s ease;
}

.error-message {
  color: var(--red-block);
}

.btn {
  background-color: var(--pink-btns);
  color: var(--dirty-white);
  border: none;
  padding: 1rem;
  width: 50%;
  border-radius: 4rem;
  font-size: 1.6rem;
  display: inline-block;
  transition: all 0.4s;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-after::after {
  background-color: var(--pink-btns);
}

.form-container>p:nth-child(3) {
  margin-top: 2rem;
}

/**************** footer *****************/
.footer {
  padding: 3rem;
  background-color: var(--red-block);
  text-align: center;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.footer-links a {
  font-size: 1.4rem;
  color: var(--links);
  padding: 1rem;
}



/********************** killer details **********************/
body>div>div>div:nth-child(1)>div:nth-child(1) {
  text-align: center;
}

.killer-box {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.killer-box-1 {
  padding-top: 2rem;
}

.killer-box {
  padding: 2rem 4rem 0;
}

.books {
  overflow: hidden;
}

.killer-box-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.killer-box-detail {
  text-align: left;
  padding-top: 2rem;
  text-transform: capitalize;
}

.killer-box-margin {
  margin: 2rem;
}

.victims {
  text-align: center;
  padding: 1rem;
}

.killer-box-detail-1 {
  background-color: var(--dirty-white);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  max-width: 24rem;
  height: 38rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.killer-box-detail-1 img {
  max-width: 20rem;
  height: 24rem;
}

.killer-box-img {
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-top: 2rem;
}

.killer-fake-shadow {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  width: 19rem;
  height: 24rem;
  box-shadow: inset 0px 0px 5px 7px rgba(70, 43, 2, 0.541);
}

article {
  margin-bottom: 1rem;
}

.reviews-container {
  width: 90%;
  margin: 0 auto;
}

.review-item {
  margin-bottom: 2rem;
}

.review-item span {
  font-size: 1.8rem;
  font-weight: bold;
}

.form-comment {
  margin-bottom: 2rem;
}

textarea {
  resize: vertical;
}

.form-fave {
  text-align: center;
  margin: 3rem 0;
}

.back-link {
  text-align: center;
  margin-bottom: 3rem;
}

.edit-killer-link {
  display: block;
}

.details-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.details-row p {
  margin-right: 1rem;
  text-transform: capitalize;
}

.murder-paragraph {
  text-transform: capitalize;
}

.not-session-user {
  padding: 2rem 3rem;
}

/*********************** killer cards *****************/
.wrapper-killers {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-killers {
  flex-grow: 1;
  text-align: center;
}

.killers-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-top: 5rem;
}

.killers-title {
  margin: 1rem auto 0;
  border-bottom: 1px solid black;
  width: 50%;

}

.flip-card {
  max-width: 22rem;
  height: 35rem;
  border-radius: 3px;
  background-color: transparent;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  width: 90%;
  margin: 0 auto 9rem;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  text-transform: capitalize;
}

.flip-card-side {
  max-width: 22rem;
  text-transform: capitalize;
  height: 35rem;
  background-color: var(--dirty-white);
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

.flip-card-front {
  background-color: var(--dirty-white);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

.flip-card-front img {
  max-width: 20rem;
  height: 24rem;
}

.flip-card-img-container {
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-top: 2rem;
}

.fake-shadow {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  width: 19rem;
  height: 24rem;
  box-shadow: inset 0px 0px 5px 7px rgba(70, 43, 2, 0.541);
}

.flip-card-back {
  text-transform: capitalize;
  transform: rotateY(180deg);
  background-color: var(--red-block);
  color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  padding: 4rem 2rem;
}

.flip-card:hover .flip-card-front {
  transform: rotateY(-180deg);
}

.flip-card:hover .flip-card-back {
  transform: rotateY(0deg);
}

.flip-card-back-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  margin: auto;
  text-align: left;
  background-color: var(--red-block);
  color: white;
  padding: 4rem 1rem;
  text-align: left;
  background-image: url(../images/fingerprint-red.png);
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
  text-transform: capitalize;
}

.flip-card-back-details h3 {
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--links);
  font-weight: 300;
}

.flip-card-back-details p {
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.killer-card-name {
  margin-top: 1.5rem;
  color: black;
  text-transform: capitalize;
}

.read-more {
  color: var(--links);
  padding-bottom: 1rem;
}

.read-more p {
  border-bottom: 1px solid var(--links);
}

.wrapper-killers-created {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.killers-title-user {
  margin: 1rem auto 0;
  border-bottom: 1px solid black;
  width: 50%;

}



/********************** fave killers **********/
.fave-container {
  padding-top: 12rem;
}

.fave-container h1 {
  margin-bottom: 3rem;
}

.killer-quote {
  width: 60%;
  margin: 5rem auto;
  font-style: italic;
  background-color: var(--grey);
  color: var(--dirty-white);
  padding: 2rem;
  border-left: .4rem solid var(--red-block);
  position: relative;
}

.killer-quote::before {
  content: "\201C";
  font-family: Arial, Helvetica, sans-serif;
  color: var(--red-block);
  font-size: 5rem;
  position: absolute;
  top: -1rem;
  left: 1rem;
}

.killer-quote::after {
  content: "";
}

.killer-quote span {
  display: block;
  color: #444140;
  font-weight: bold;
  margin-top: 1rem;
}

.killers-title-fave {
  margin: 1rem auto 0;
  border-bottom: 1px solid black;
  width: 70%;

}

.killer-quote-profile {
  margin: auto;
}


/******************************************************************************************************** media queries **************************************************************/
@media screen and (min-width:600px) {
  .logo-nav {
    width: 15%;
  }

  .form-bg {
    background-position: top right;
  }

  .btn {
    padding: 2rem;
    width: 30%;
  }

  .form-container {
    width: 80%;
  }

  .killers-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .killer-box-1 {
    width: 100%;
  }

  .killer-box-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .killer-box-margin {
    margin: initial;
  }

  .killer-box-intro .killer-box-detail:nth-of-type(1) {
    width: 40%;
    margin-left: 2rem;
  }

  .killer-box-intro .killer-box-detail:nth-of-type(2) {
    text-align: left;
    padding-top: 2rem;
    align-self: flex-end;
    width: 50%;
  }

  .killer-box-intro .killer-box-detail:nth-of-type(2) h1 {
    font-size: 4rem;
  }

  .killer-box {
    margin-top: 4rem;
  }

  .killer-quote {
    padding: 3rem 5rem;
  }

  .killer-quote::before {
    font-size: 8rem;
  }


  /* home */
  .header {
    height: 50vh;
  }

  .explanation {
    min-height: 17vh;
    padding: 2rem;
  }

  .explanation-p {
    font-size: 1.3rem;
  }

  /* Horitzontal Scroll */
  .hs>li {
    min-height: 26rem;
    min-width: 26rem;
  }

  .hs-image {
    height: 10rem;
  }

  .card-text {
    font-size: 1.2rem;
  }

  /* Main Buttons */
  .letter-btn {
    height: 5rem;
    width: 5rem;
  }

  .zodiac-btn {
    height: 8rem;
    width: 8rem;
  }

  /************ user profile ******************/

  .user-name {
    font-size: 6rem;
  }

  .profile-main {
    padding: 15rem 4rem 0;
  }

}

@media screen and (min-width:900px) {
  .logo-nav {
    width: 12%;
  }

  .nav {
    flex-direction: row;
  }

  .nav-button {
    display: none;
  }

  .nav-menu {
    display: flex;
    background: initial;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: static;
    transform: initial;
    width: 80%;
    height: auto;
    transition: none;
    margin-right: 2rem;
    padding: 0;
    opacity: 1;
    overflow: hidden;
  }

  #nav>ul>a:nth-child(1)>li {
    margin-top: initial;
  }

  .nav-menu li {
    margin-right: 2rem;
  }

  .nav-menu li:hover::after {
    -webkit-transform: translateY(18px);
    transform: translateY(18px);
  }

  .form-wrapper {
    padding: 20rem 0;
  }

  .form-container {
    width: 60%;
  }

  .killers-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .killer-box-intro {
    width: 90%;
  }

  .killer-box-intro .killer-box-detail:nth-of-type(1) {
    width: 30%;
    margin-left: 2rem;
  }

  .killer-box-intro .killer-box-detail:nth-of-type(2) {
    width: 60%;
  }

  .killer-quote {
    padding: 4rem 5rem;
  }



  .killer-quote::before {
    font-size: 8rem;
  }

  .killer-quote p {
    font-size: 2rem;
  }

  .killer-quote span {
    font-size: 2rem;
  }

  /* home */
  .header {
    height: 60vh;
  }

  .explanation {
    min-height: 20vh;
  }

  .explanation-p {
    font-size: 1.6rem;
  }

  /* Horitzontal Scroll */
  .hs>li {
    min-height: 28rem;
    min-width: 28rem;
  }

  .hs-image {
    height: 11rem;
  }

  .card-text {
    font-size: 1.3rem;
  }

  /* Main Buttons */
  .main-btn {
    font-size: 1.7rem;
    height: 9rem;
    width: 9rem;
    outline: none;
  }

  .letter-btn {
    height: 6rem;
    width: 6rem;
  }

  .zodiac-btn {
    height: 10rem;
    width: 10rem;
  }

  .show-list {
    padding: 2rem 14rem;
  }

}

@media screen and (min-width:1200px) {
  .logo-nav {
    width: 10%;
  }

  .killers-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .killer-box-intro .killer-box-detail:nth-of-type(1) {
    width: 20%;
  }

  .killer-box-intro .killer-box-detail:nth-of-type(2) {
    width: 80%;
    padding-left: 10rem;
  }

  .killer-quote {
    padding: 6rem 5rem;
  }

  .killer-quote::before {
    font-size: 12rem;
  }

  .killer-quote p {
    font-size: 3rem;
  }

  .killer-quote span {
    font-size: 2.4rem;
  }

  /* home */
  .header {
    height: 70vh;
    background-size: cover;
  }

  .explanation {
    min-height: 18vh;
    padding: 2rem 5rem;
  }

  .explanation-p {
    font-size: 2rem;
  }

  /* Horitzontal Scroll */

  .horitzontal-scroll {
    padding: 1rem;
  }

  .hs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    overflow-x: none;
    scroll-snap-type: none;
  }

  .hs>li,
  .item {
    scroll-snap-align: none;
  }

  .hs>li {
    height: 22rem;
    width: 22rem;
    padding: 1rem;
  }

  .hs-image {
    height: 10rem;
  }

  .card-text {
    font-size: 1.3rem;
  }

  /* Main Buttons */
  .main-btn {
    font-size: 1.9rem;
    height: 10rem;
    width: 10rem;
  }

  .letter-btn {
    height: 8rem;
    width: 8rem;
  }

  .zodiac-btn {
    height: 12rem;
    width: 12rem;
  }

  .show-list {
    padding: 2rem 28rem 6rem 28rem;
  }



}

@media screen and (min-width:1800px) {
  .logo-nav {
    width: 8%;
  }

  /* home */
  .header {

    background-size: cover;
  }

  .explanation-p {
    font-size: 3rem;
  }

  /* Horitzontal Scroll */

  .horitzontal-scroll {
    padding: 1rem;
  }

  .hs>li {
    height: 45rem;
    width: 45rem;
    padding: 1.5rem;
  }

  .hs-image {
    height: 17rem;
  }

  .card-title {
    font-size: 2.5rem;
  }

  .card-text {
    font-size: 2.2rem;
  }

  /* Main Buttons */
  .main-btn {
    font-size: 3.2rem;
    height: 18rem;
    width: 18rem;
  }

  .letter-btn {
    height: 15rem;
    width: 15rem;
  }

  .zodiac-btn {
    height: 18rem;
    width: 18rem;
  }

  .show-list {
    padding: 2rem 30rem 6rem 30rem;
  }

  /************ user profile ******************/
  .user-picture {
    height: 35rem;
    width: 35rem;
    margin-right: 10rem;
  }

  .profile-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-name {
    font-size: 10rem;
  }
}